:root {
    --main-text: #f0b209;
    --main-background: #313131;

}

* { 
    box-sizing: border-box;
}



body {
    background-color: #d4ccc5;
    color: #313131;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* header style start */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    flex-wrap: wrap;
    background-color: #112018;
    align-items: center;
}

header h1 {
    font-size: 50px;
    margin: 0;
    text-decoration: none;
    color: #d4ccc5;
    text-shadow: 0 0 10px rgba(173, 161, 161, 0.5);
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul a {
    margin: 0 25px;
    color: #d4ccc5;
    text-shadow: 0 0 10px rgba(173, 161, 161, 0.5);
}

.hero {
    background-image: url(../images/portfolio-hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0;
}

.hero img {
    height: 500px;
    border: 5px solid #313131;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hero-img {
    width: 40%;
    margin: 3.5%;
}

.vl {
    border-right: 1px solid #313131;
    height: 525px;
    left: 50%;
    margin-left: 15px;
    margin-bottom: 38px;
}

.hero-text {
    margin: 3.5%;
    width: 35%;
    text-align: left;
}

.border {
    border-bottom: 3px solid #313131;
    display: inline-block;
    margin: 0;
}

.hero-text h2 {
    color: #d4ccc5;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hero-text p {
    line-height: 1.5;
    color: #d4ccc5;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.page-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 25px 0;
}

.page-section p {
    text-align: left;
    margin: 0 150px;
}

.page-section h2 {
    font-size: 35px;
    color: #11442c;
    border-bottom: 2px solid #11442c;
    margin: 0 auto 35px auto;
    width: 50%;
    padding-bottom: 25px;
    text-shadow: 0 0 10px rgba(56, 55, 55, 0.5);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.flex-item {
    border: 5px solid #11442c;
    background-color: #11442c;
    color: #d4ccc5;
    min-height: 250px;
    max-height: 250px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    margin: 0.5em;
    text-decoration: none;
    background-size: cover;
}

.flex-item h3 {
    margin: 10px 0;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item div {
    padding: 8px 10px;
    background-color: #11442c;
}

.flex-item:hover {
    border: 5px solid #965129;
}

.run-buddy {
    background-image: url('../images/hero-bg.jpg');
}

.horiseon {
    background-image: url('../images/digital-marketing-meeting.jpg');
}

.lorem {
    background-image: url("../images/placeholder.png");
}

#contact {
    margin-bottom: 50px;
}

#contact h2 {
    text-align: center;
    font-size: 35px;
    color: #11442c;
    border-bottom: 2px solid #11442c;
    margin: 0 auto 35px auto;
    width: 50%;
    padding-bottom: 25px;
    text-shadow: 0 0 10px rgba(56, 55, 55, 0.5);
}

#contact address {
    display: flex;
    justify-content: space-around;
}

#contact address a {
    text-decoration: none;
    color: #11442c;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

#contact address a:hover {
    color: #965129;
  }

@media screen and (max-width: 1400px) {
    .vl {
        border: none
    }
}

@media screen and (max-width: 1200px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        text-align: center;
    }
}

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    .header nav ul {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

  }

@media screen and (max-width: 768px) {

  }

@media screen and (max-width: 575px) {

  }